<style>
html{
	background-size : cover;
	height		: 100%;
	overflow	:hidden;
}
body{
font-family:Lucida Sans Unicode;
}

#bannersection img{
width: 100%;
background-image: url("images/home.png");

background-repeat: no-repeat;
background-size: cover;
height:560px;
}
#bannersection {
position: relative;
display: table;
width: 100%;		
}
#bannersection img{
filter: blur(0.5px);
-webkit-filter: blur(0.5px);
}
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.1); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
word-spacing:2px;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 80%;
  padding: 30px;
  text-align: center;
font-family:Lucida Console;
}
sec #logo{
width:100px; 
height:100px;
background-image:none;
filter:none;
color:white;
}

.fa-stack{ 
font-size: 1.3em; 
}


i { 
vertical-align: middle; 
}
i:hover {
background-color:white;
}

/* button setting */
.arrow{
  font-size:1.3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.arrow i{
vertical-align:middle;
}
#f3{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bg-text p{
padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
}

/*stick nav on the top */
#stick{
  position: sticky;
  top: 0;
z-index:1;
background-color:white;
}

li{
float:right;
display: inline;

}
li a, .dropbtn {
  display: inline;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color:orange;
}

li.dropdown {


}

.dropdown-content {
  display: none;
  position: fixed;
text-align:center;
}

.dropdown-content a {
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: 50px;
  margin: 5px 5px;
background-color:lightgray;
}



footer {
    clear: both;
    position: relative;
    height: 590px;
    margin-top: auto;
    margin-left:auto;
    margin-right:auto;
    padding-top:20px;
    background:white;
    text-align: center;
}

.dropdown:hover .dropdown-content{
  display: block;
}
#f1{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#f3{
dispay:block;
margin-left:auto;
margin-right:auto;
position:relative;
bottom:0px;
}

/* share link button */

.dropdown-content i{
color: white;
font-size:30px;
text-align:center;

}

/*social media*/

iframe,script {
height:400px;
}

/*left navbar*/

nav {
float:left;
width:10%;
text-align:center;
position:relative;
top:600;
}
nav a{
	color		: #A19BB0;
	display		: block;
	padding		: 15px;
	text-decoration : none;
        background-color: #F9ECD2;
	width:100%;
	margin-top:30px;
}
nav a:active{
	background-color: #D6CEEB;
	color: lightgray;
}
nav a:hover {
	background-color: #FBE3EE;
	color:white;
}




</style>